<div class="container">
    <div id="header">
      <h3>Rest Calculator</h3></div>
    <div id="calc" class="text-center">
      <div id="display">
      <div id="result"><p>{{salida}}</p></div>
      <div id="previous"><p>{{salida2}}</p></div>
      </div>
        <div id="keyboard">
        <div class="row">
          <button class="btn btn-info" (click)="anadir7()" value="7">7</button>
          <button class="btn btn-info" (click)="anadir8()" value="8">8</button>
          <button class="btn btn-info" (click)="anadir9()" value="9">9</button>
          <button class="btn btn-danger" (click)="borrar()" value="ac">AC</button>
          <button class="btn btn-danger" (click)="borrartodo()" value="ce">CE</button>
        </div>
        <div class="row">
          <button class="btn btn-info" (click)="anadir4()" value="4">4</button>
          <button class="btn btn-info" (click)="anadir5()" value="5">5</button>
          <button class="btn btn-info" (click)="anadir6()" value="6">6</button>
          <button class="btn btn-warning" (click)="anadirDivision()" value="/">/</button>
          <button class="btn btn-warning" (click)="anadirProducto()" value="*">*</button>
        </div>
        <div class="row">
          <button class="btn btn-info" (click)="anadir1()" value="1">1</button>
          <button class="btn btn-info" (click)="anadir2()" value="2">2</button>
          <button class="btn btn-info" (click)="anadir3()" value="3">3</button>
          <button class="btn btn-warning" (click)="anadirMas()" value="+">+</button>
          <button class="btn btn-warning" (click)="anadirMenos()" value="-">-</button>
         
          
        </div>
        <div class="row">
          <button class="btn btn-zero btn-info" (click)="anadir7()" value="0">0</button>
           <button class="btn btn-warning"  (click)="anadirResto()" value="%">%</button>
          <button class="btn btn-warning"  (click)="anadirElevado()" value="^">^</button>
         
          <button class="btn btn-success" (click)="resultado()" value="=">=</button>
          <!-- <button class="invisible" value=""></button> -->
          
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>